body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;

  background: url("bg.png") center/cover no-repeat fixed;

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  text-align: center;
  background: rgba(0,0,0,0.5);
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(6px);
}
